<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentation | MintUI</title>
    <link rel="stylesheet" href="/src/css/root.css">
    <link rel="stylesheet" href="/src/css/header.css">
    <link rel="stylesheet" href="/src/css/docs.css">
    <link rel="stylesheet" href="/src/css/utility.css">
    <link rel="stylesheet" href="/src/components/images/images.css">
    <script src="https://kit.fontawesome.com/8f32ce5d5f.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header-container">
        <nav class="header-content">
            <a class="header-title" href=""><span>MINT</span>UI</a>
            <div class="header-navigation">
            <a href="/index.html">Home</a>
            <a href="/src/pages/installation.html">Installation</a>
            <a href="/src/components/avatars/avatars.html" class="link-active">Docs</a>
            </div> 
        </nav>
    </header> 
    <section class="docs-container">
        <div class="docs-sidebar-container">
            <div class="sidebar-content">
                <div class="sidebar-title">Components</div>
                <div class="sidebar-contents">
                    <ul>
                        <li>
                            <a href="/src/components/avatars/avatars.html">Avatar</a> 
                        </li>
                        <li>
                            <a href="/src/components/alerts/alerts.html">Alert</a> 
                        </li>
                        <li>
                            <a href="/src/components/badges/badges.html">Badge</a> 
                        </li>
                        <li>
                            <a href="/src/components/buttons/buttons.html">Button</a> 
                        </li>
                        <li>
                            <a href="">Card</a> 
                        </li>
                        <li>
                            <a class="link-active" href="/src/components/images/images.html">Image</a> 
                        </li>
                        <li>
                            <a href="/src/components/inputs/inputs.html">Input</a> 
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="docs-main-container">
            <div class="component-title">Images</div>
            <div class="component-desc">Different styles of images to use in your website!</div>
            <div class="component-subtitle">Responsive image</div> 
            <div class="component-display flex justify-center">
                <img class="img-responsive" src="/src/assets/Old Trafford.jpeg" alt="image-responsive">
            </div>
            <div class="code-wrapper">
                <iframe
                src="https://carbon.now.sh/embed/cf4piJF3VcVC1rU35Rer"
                style="width: 708px; height: 144px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
              </iframe>
            </div>
            <div class="component-subtitle">Shape images</div> 
            <div class="component-display flex flex-row justify-around items-center">
                <img class="img img-rnd" src="/src/assets/Old Trafford.jpeg" alt="img-round">
                <img class="img img-sqr" src="/src/assets/Old Trafford.jpeg" alt="img-square">
            </div>
            <div class="code-wrapper">
                <iframe
                src="https://carbon.now.sh/embed/O6cUDsutUN0KqAIGSpJE"
                style="width: 708px; height: 144px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
              </iframe>
            </div>
            
 
        </div>
    </section>
</body>
</html>