.img-responsive {
  width: 100%;
  height: auto;
}

.img {
  height: 12.5rem;
  width: 18.75rem;
}

.img-rnd {
  border-radius: 50%;
  width: 12.5rem;
  object-fit: cover;
}

.img-sqr {
  width: 12.5rem;
  object-fit: cover;
}
