<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentation | MintUI</title>
    <link rel="stylesheet" href="/src/css/root.css">
    <link rel="stylesheet" href="/src/css/header.css">
    <link rel="stylesheet" href="/src/css/docs.css">
    <link rel="stylesheet" href="/src/css/utility.css">
    <link rel="stylesheet" href="/src/components/text/text.css">
    <script src="https://kit.fontawesome.com/8f32ce5d5f.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header-container">
        <nav class="header-content">
            <a class="header-title" href=""><span>MINT</span>UI</a>
            <div class="header-navigation">
                <a href="/index.html">Home</a>
                <a href="/src/pages/installation.html">Installation</a>
                <a href="/src/components/avatars/avatars.html" class="link-active">Docs</a>
            </div>
        </nav>
    </header>
    <section class="docs-container">
        <div class="docs-sidebar-container">
            <div class="sidebar-content">
                <div class="sidebar-title">Components</div>
                <div class="sidebar-contents">
                    <ul>
                        <li>
                            <a href="/src/components/avatars/avatars.html">Avatar</a>
                        </li>
                        <li>
                            <a href="/src/components/alerts/alerts.html">Alert</a>
                        </li>
                        <li>
                            <a href="/src/components/badges/badges.html">Badge</a>
                        </li>
                        <li>
                            <a href="/src/components/buttons/buttons.html">Button</a>
                        </li>
                        <li>
                            <a href="/src/components/cards/cards.html">Card</a>
                        </li>
                        <li>
                            <a href="/src/components/images/images.html">Image</a>
                        </li>
                        <li>
                            <a href="/src/components/inputs/inputs.html">Input</a>
                        </li>
                        <li>
                            <a href="/src/components/ratings/ratings.html">Rating</a>
                        </li>
                        <li>
                            <a class="link-active" href="/src/components/text/text.html">Text Utilities</a>
                        </li>
                        <li>
                            <a href="/src/components/navigation/navigation.html">Navigation</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="docs-main-container">
            <div class="component-title">Text Utilities</div>
            <div class="component-subtitle">Heading Text</div>
            <div class="component-display flex flex-col justify-start items-center">
                <h1 class="h1">h1 - Sample</h1>
                <h2 class="h2">h2 - Sample</h2>
                <h3 class="h3">h3 - Sample</h3>
                <h4 class="h4">h4 - Sample</h4>
                <h5 class="h5">h5 - Sample</h5>
                <h6 class="h6">h6 - Sample</h6>
            </div>
            <div class="code-wrapper">
                <iframe src="https://carbon.now.sh/embed/BwRD0aCiJUDIppSsHHaw"
                    style="width: 708px; height: 250px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
            <div class="component-subtitle">Small text</div>
            <div class="component-display flex flex-col items-center">
                <p class="text-small">Sample</p>
            </div>
            <div class="code-wrapper">
                <iframe src="https://carbon.now.sh/embed/bMPKASkxqOtKyW9B5qkb"
                    style="width: 708px; height: 163px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
            <div class="component-subtitle">Grayed Text</div>
            <div class="component-display flex justify-center">
                <p class="text-gray">Sample</p>
            </div>
            <div class="code-wrapper">
                <iframe src="https://carbon.now.sh/embed/x186F5qaxLjkrQpikKtg"
                    style="width: 708px; height: 163px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
            <div class="component-subtitle">Centered Text</div>
            <div class="component-display flex flex-col">
                <p class="text-center">Sample</p>
            </div>
            <div class="code-wrapper">
                <iframe src="https://carbon.now.sh/embed/KPmqGkXLHvB1qI5W8PKC"
                    style="width: 708px; height: 163px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>




        </div>
    </section>
</body>

</html>