<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentation | MintUI</title>
    <link rel="stylesheet" href="/src/css/root.css">
    <link rel="stylesheet" href="/src/css/header.css">
    <link rel="stylesheet" href="/src/css/docs.css">
    <link rel="stylesheet" href="/src/css/utility.css">
    <link rel="stylesheet" href="/src/components/cards/cards.css">
    <script src="https://kit.fontawesome.com/8f32ce5d5f.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header-container">
        <nav class="header-content">
            <a class="header-title" href=""><span>MINT</span>UI</a>
            <div class="header-navigation">
            <a href="/index.html">Home</a>
            <a href="/src/pages/installation.html">Installation</a>
            <a href="/src/components/avatars/avatars.html" class="link-active">Docs</a>
            </div> 
        </nav>
    </header> 
    <section class="docs-container">
        <div class="docs-sidebar-container">
            <div class="sidebar-content">
                <div class="sidebar-title">Components</div>
                <div class="sidebar-contents">
                    <ul>
                        <li>
                            <a href="/src/components/avatars/avatars.html">Avatar</a> 
                        </li>
                        <li>
                            <a href="/src/components/alerts/alerts.html">Alert</a> 
                        </li>
                        <li>
                            <a href="/src/components/badges/badges.html">Badge</a> 
                        </li>
                        <li>
                            <a href="/src/components/buttons/buttons.html">Button</a> 
                        </li>
                        <li>
                            <a href="">Card</a> 
                        </li>
                        <li>
                            <a href="/src/components/images/images.html">Image</a> 
                        </li>
                        <li>
                            <a class="link-active" href="/src/components/inputs/inputs.html">Input</a> 
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="docs-main-container">
            <div class="component-title">Cards</div>
            <div class="component-desc"> A card is a flexible and extensible content container.</div>
            <div class="component-subtitle">Card with badge</div> 
            <div class="component-display flex flex-row justify-center items-center">
                <div class="card card-vert floating-shadow">
                    <div class="flex justify-center">
                      <div class="card-header flex justify-between">
                        <div class="card-badge">JUST ARRIVED</div>
                        <span><i class="far fa-heart"></i></span>
                        <span class="hidden"><i class="far fa-times-circle"></i></span>
                      </div>
                      <div class="card-overlay-text-div hidden">
                        <div class="overlay-text">Out of stock!</div>
                      </div>
                      <div class="card-img-div">
                        <img src="/src/assets/Manutd Home authentic.webp" class="card-img" alt="">
                      </div>
                    </div>
                    <div class="card-footer">
                      <div class="card-text">
                        2021-22 Home Kit Authentic
                      </div>
                      <div class="card-pricing">₹8500</div>
                      <button class="card-action-btn">
                        <i class="fas fa-shopping-cart"></i> &nbsp; BUY NOW
                      </button>
                    </div>
                  </div>
            </div>
            <div class="code-wrapper">
                <iframe
                src="https://carbon.now.sh/embed/GGGb03c0nSgEj5LQCEa7"
                style="width: 708px; height: 144px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
              </iframe>
            </div>

            <div class="component-subtitle">Card with dismiss</div> 
            <div class="component-display flex flex-row justify-center items-center">
                <div class="card card-vert floating-shadow">
                    <div class="flex justify-center">
                      <div class="card-header flex justify-between">
                        <div class="card-badge">JUST ARRIVED</div>
                        <span class="hid"><i class="far fa-heart"></i></span>
                        <span><i class="far fa-times-circle"></i></span>
                      </div>
                      <div class="card-overlay-text-div hidden">
                        <div class="overlay-text">Out of stock!</div>
                      </div>
                      <div class="card-img-div">
                        <img src="/src/assets/Manutd Home authentic.webp" class="card-img" alt="">
                      </div>
                    </div>
                    <div class="card-footer">
                      <div class="card-text">
                        2021-22 Home Kit Authentic
                      </div>
                      <div class="card-pricing">₹8500</div>
                      <button class="card-action-btn">
                        <i class="fas fa-shopping-cart"></i> &nbsp; BUY NOW
                      </button>
                    </div>
                  </div>
            </div>
            <div class="code-wrapper">
                <iframe
                src="https://carbon.now.sh/embed/GGGb03c0nSgEj5LQCEa7"
                style="width: 708px; height: 144px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
              </iframe>
            </div>

            <div class="component-subtitle">Text overlay card</div> 
            <div class="component-display flex justify-center items-center">
                <div class="card card-vert floating-shadow">
                    <div class="flex justify-center">
                      <div class="card-header flex justify-between">
                        <div class="card-badge">JUST ARRIVED</div>
                        <span><i class="far fa-heart"></i></span>
                        <span class="hidden"><i class="far fa-times-circle"></i></span>
                      </div>
                      <div class="card-overlay-text-div">
                        <div class="overlay-text">Out of stock!</div>
                      </div>
                      <div class="card-img-div">
                        <img src="/src/assets/Manutd Home authentic.webp" class="card-img" alt="">
                      </div>
                    </div>
                    <div class="card-footer">
                      <div class="card-text">
                        2021-22 Home Kit Authentic
                      </div>
                      <div class="card-pricing">₹8500</div>
                      <button class="card-action-btn btn-disabled">
                        <i class="fas fa-shopping-cart"></i> &nbsp; BUY NOW
                      </button>
                    </div>
                  </div>
            </div>
            <div class="code-wrapper">
                <iframe
                src="https://carbon.now.sh/embed/GGGb03c0nSgEj5LQCEa7"
                style="width: 708px; height: 144px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
              </iframe>
            </div>

            <div class="component-subtitle">Text only card</div> 
            <div class="component-display flex justify-center">
                <div class="card card-vert floating-shadow">
                  <div class="card-body flex justify-center">
                    <div class="card-header flex justify-between hidden">
                      <div class="card-badge">ON SALE</div>
                      <span><i class="fal fa-heart"></i></span>
                      <span class="hidden"><i class="fal fa-times-circle"></i></span>
                    </div>
                    <div class="card-overlay-text-div hidden">
                      <div class="overlay-text">Out of stock</div>
                    </div>
                    <div class="card-img-div hidden">
                      <img src="../../assets/images/product_shoe_1.jpg" class="card-img" alt="">
                    </div>
                  </div>
                  <div class="card-footer">
                    <div class="card-text">
                        Youth. Courage. Success. The thee pillars of Manchester United's motto have brought the club more than a century of triumphs. With its clean red design and white ribbed crewneck, this adidas authentic football jersey takes inspiration from the iconic kit that carried them to some of their most memorable moments!
                    </div>
                    <div class="card-pricing hidden">₹ 5500</div>
                    <button class="card-action-btn">READ MORE</button>
                  </div>
                </div>
            </div>
            <div class="code-wrapper">
                <iframe
                src="https://carbon.now.sh/embed/GGGb03c0nSgEj5LQCEa7"
                style="width: 708px; height: 144px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
              </iframe>
            </div>


            <div class="component-subtitle"> Horizontal card</div> 
            <div class="component-display flex justify-center">
                <div class="card card-hor flex floating-shadow">
                  <div class="card-body flex justify-center">
                    <div class="card-header flex justify-between hidden">
                      <div class="card-badge">ON SALE</div>
                      <span><i class="fal fa-heart"></i></span>
                      <span class="hidden"><i class="fal fa-times-circle"></i></span>
                    </div>
                    <div class="card-overlay-text-div hidden">
                      <div class="overlay-text">Out of stock</div>
                    </div>
                    <div class="card-img-div">
                      <img src="/src/assets/Manutd Home authentic.webp" class="card-img img-h" alt="">
                    </div>
                  </div>
                  <div class="card-footer card-footer-h">
                    <div class="card-text">
                     2021-22 Home Kit Authentic
                    </div>
                    <div class="card-pricing">₹ 5500</div>
                    <button class="card-action-btn btn-h">
                        <i class="fas fa-shopping-cart"></i> &nbsp; ADD TO CART
                    </button>
                    <button class="card-action-btn-outline">
                        <i class="fas fa-heart"></i> &nbsp; SAVE TO WISHLIST
                    </button>
                  </div>
                </div>
              </div>

              <div class="component-subtitle">Card without shadow</div> 
              <div class="component-display flex flex-row justify-center items-center">
                  <div class="card card-vert">
                      <div class="flex justify-center">
                        <div class="card-header flex justify-between">
                          <div class="card-badge">JUST ARRIVED</div>
                          <span><i class="far fa-heart"></i></span>
                          <span class="hidden"><i class="far fa-times-circle"></i></span>
                        </div>
                        <div class="card-overlay-text-div hidden">
                          <div class="overlay-text">Out of stock!</div>
                        </div>
                        <div class="card-img-div">
                          <img src="/src/assets/Manutd Home authentic.webp" class="card-img" alt="">
                        </div>
                      </div>
                      <div class="card-footer">
                        <div class="card-text">
                          2021-22 Home Kit Authentic
                        </div>
                        <div class="card-pricing">₹8500</div>
                        <button class="card-action-btn">
                          <i class="fas fa-shopping-cart"></i> &nbsp; BUY NOW
                        </button>
                      </div>
                    </div>
              </div>
              <div class="code-wrapper">
                  <iframe
                  src="https://carbon.now.sh/embed/GGGb03c0nSgEj5LQCEa7"
                  style="width: 708px; height: 144px; border:0; transform: scale(1); overflow:hidden;"
                  sandbox="allow-scripts allow-same-origin">
                </iframe>
              </div>




            
 
        </div>
    </section>
</body>
</html>