<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentation | MintUI</title>
    <link rel="stylesheet" href="/src/css/root.css">
    <link rel="stylesheet" href="/src/css/header.css">
    <link rel="stylesheet" href="/src/css/docs.css">
    <link rel="stylesheet" href="/src/css/utility.css">
    <link rel="stylesheet" href="/src/components/navigation/navigation.css">
    <script src="https://kit.fontawesome.com/8f32ce5d5f.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header-container">
        <nav class="header-content">
            <a class="header-title" href=""><span>MINT</span>UI</a>
            <div class="header-navigation">
                <a href="/index.html">Home</a>
                <a href="/src/pages/installation.html">Installation</a>
                <a href="/src/components/avatars/avatars.html" class="link-active">Docs</a>
            </div>
        </nav>
    </header>
    <section class="docs-container">
        <div class="docs-sidebar-container">
            <div class="sidebar-content">
                <div class="sidebar-title">Components</div>
                <div class="sidebar-contents">
                    <ul>
                        <li>
                            <a href="/src/components/avatars/avatars.html">Avatar</a>
                        </li>
                        <li>
                            <a href="/src/components/alerts/alerts.html">Alert</a>
                        </li>
                        <li>
                            <a href="/src/components/badges/badges.html">Badge</a>
                        </li>
                        <li>
                            <a href="/src/components/buttons/buttons.html">Button</a>
                        </li>
                        <li>
                            <a href="/src/components/cards/cards.html">Card</a>
                        </li>
                        <li>
                            <a href="/src/components/images/images.html">Image</a>
                        </li>
                        <li>
                            <a href="/src/components/inputs/inputs.html">Input</a>
                        </li>
                        <li>
                            <a href="/src/components/ratings/ratings.html">Rating</a>
                        </li>
                        <li>
                            <a href="/src/components/text/text.html">Text Utilities</a>
                        </li>
                        <li>
                            <a class="link-active" href="/src/components/navigation/navigation.html">Navigation</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="docs-main-container">
            <div class="component-title">Navigation</div>
            <div class="component-subtitle">Simple Navbar</div>
            <div class="component-display">
                <nav class="nav-simple">
                    <div class="nav-logo">Logo</div>
                    <div class="nav-search">
                        <button class="nav-search-icon"> <i class="fas fa-search"></i> </button>
                        <input type="text" class="nav-search-input" placeholder="Search" />
                    </div>
                    <ul class="nav-list">
                        <li><i class="fas fa-lg fa-home"></i></li>
                        <li><i class="fab fa-lg fa-gratipay"></i></li>
                        <li><i class="fas fa-lg fa-shopping-cart"></i></li>
                    </ul>
                </nav>
            </div>
            <div class="code-wrapper">
                <iframe src="https://carbon.now.sh/embed/8Pz8PQKs8F1dHRiBDYiE"
                    style="width: 708px; height: 334px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>



            </div>
    </section>
</body>

</html>