.docs-container
{
    display: flex;
    flex-direction: row;
    max-width: 800px;
    margin: auto;
    padding: var(--u-16);
}

.docs-sidebar-container
{
    flex-basis: 200px;
    padding: var(--u-20);
}

.docs-container .sidebar-contents
{
    font-size: var(--text-sm);
    margin: var(--u-16) 0 0 var(--u-8);
}

.docs-container .sidebar-title
{
    font-size: var(--text-base);
    font-weight: bold;
    
}

.docs-container .link-active
{
    color: var(--primary);
    background-color: vary(--primary);
}
.docs-container a
{
    color: var(--default-text);
    text-decoration: none;
}

li
{
    padding: var(--u-16) var(--u-2) var(--u-16) 0;
}

.docs-main-container
{
    flex-grow: 1;
    padding: var(--u-20);
}

.component-title
{
    font-size: var(--text-2xl);
}

.component-subtitle
{
    font-size: var(--text-lg);
    margin: var(--u-20) 0;
}

.component-desc
{
    font-size: var(--text-xs);
    margin: var(--u-8) 0 var(--u-8) 0;
}

.component-display
{
    background-color: var(--tertiary-tint);
    margin-top: var(--u-10);
    margin-bottom: var(--u-24);
    padding: var(--u-20) var(--u-10);
    border-radius: var(--rounded-md);
    border: var(--u-1) solid var(--primary-tint);
}

.code-wrapper
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
