<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentation | MintUI</title>
    <link rel="stylesheet" href="/src/css/root.css">
    <link rel="stylesheet" href="/src/css/header.css">
    <link rel="stylesheet" href="/src/css/docs.css">
    <link rel="stylesheet" href="/src/css/utility.css">
    <link rel="stylesheet" href="/src/components/avatars/avatars.css">
</head>
<body>
    <header class="header-container">
        <nav class="header-content">
            <a class="header-title" href=""><span>MINT</span>UI</a>
            <div class="header-navigation">
            <a href="/index.html">Home</a>
            <a href="/src/pages/installation.html">Installation</a>
            <a href="/src/components/avatars/avatars.html" class="link-active">Docs</a>
            </div> 
        </nav>
    </header> 
    <section class="docs-container">
        <div class="docs-sidebar-container">
            <div class="sidebar-content">
                <div class="sidebar-title">Components</div>
                <div class="sidebar-contents">
                    <ul>
                        <li>
                         <a class="link-active" href="/src/components/avatars/avatars.html">Avatar</a> 
                        </li>
                        <li>
                            <a href="">Alert</a> 
                        </li>
                        <li>
                            <a href="">Alert</a> 
                        </li>
                        <li>
                            <a href="/src/components/badges/badges.html">Badge</a> 
                        </li>
                        <li>
                            <a href="">Button</a> 
                        </li>
                        <li>
                            <a href="">Card</a> 
                        </li>
                        <li>
                            <a href="">Image</a> 
                        </li>
                        <li>
                            <a href="">Form</a> 
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="docs-main-container">
            <div class="component-title">Avatars</div>
            <div class="component-desc">Avatar can be used to show user's profile picture on profile information page, on navigation bar, in blogs grid items.</div>
            <div class="component-subtitle">Picture Avatar</div>
            <div class="component-display flex justify-center items-center">
                <img class="avatar avatar-rounded avatar-sm" src="/src/assets/avatar-male.svg" alt="avatar">
                <img class="avatar avatar-rounded avatar-md" src="/src/assets/avatar-male.svg" alt="avatar">
                <img class="avatar avatar-rounded avatar-lg" src="/src/assets/avatar-male.svg" alt="avatar">
            </div>
            <div class="code-wrapper">
                <iframe
                src="https://carbon.now.sh/embed/hbq0CNuuTAr7E5MUNkoP"
                style="width: 708px; height: 190px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
              </iframe>
                
            </div>
            <div class="component-subtitle">Text Avatar</div>
            <div class="component-display flex justify-center items-center">
                <div class="avatar avatar-rounded avatar-sm avatar-text">HK</div>
                <div class="avatar avatar-rounded avatar-md avatar-text">HK</div>
                <div class="avatar avatar-rounded avatar-lg avatar-text">HK</div>
            </div>
            <div class="code-wrapper">
                <iframe
                src="https://carbon.now.sh/embed/hsRviKy2ATq9Hllh0Rak"
                style="width: 708px; height: 133px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
              </iframe>
            </div>
        </div>

    </section>
</body>
</html>